extends home
block content
	h1 Categorias de la tienda
	.col-xs-4
		form#formulario
			.form-group
				label(for="_id") ID
				input#_id.form-control(type="text",placeholder="ID del usuario")
			.form-group
				label(for="name") Nombre
				input#name.form-control(type="text",placeholder="Nombre de la categoria")
			.form-group
				label(for="descr") Descripci&oacute;n
				textarea#descr.form-control(rows="3",cols="10",placeholder="Ingrese una descripcion")
			.form-group
				label(for="picture") Foto
				input#picture.form-control(type="text",placeholder="URL de foto")
			button.btn.btn-default(type="submit") Guardar
	.col-xs-8
		table.table.table-striped.table-bordered.table-hover
			thead
				tr
					th ID
					th Nombre
					th Descripci&oacute;n
					th Foto
			tbody
block foot
	script( src='static/js/categorias.js' )