include mixins
doctype
html( lang="es" )
	head
		title Tienda de ejemplo
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

	body(style="padding-bottom:10rem;")
		.container
			+nav('Tienda Tecsup','dropdow-menu')
				+nav_item('','active') Inicio
				+nav_item('categorias') Categorias
				+nav_item('productos') Productos
				+nav_item('pedidos') Pedidos
				+nav_item('logout') Cerrar sesi&oacute;n
			block content
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		script( src='socket.io/socket.io.js' )
		//script( src='static/js/app.js' )
		block foot