extends home
block content
	h1 Inicie sesi&oacute;n
	.col-xs-4
		form#formulario(action="login",method="POST")
			.form-group
				label(for="email") Email
				input#email.form-control(name="email",type="text",placeholder="Email del usuario")
			.form-group
				label(for="password") Contrase&ntilde;a
				input#password.form-control(name="password",type="password",placeholder="Password")
			button.btn.btn-default(type="submit") Guardar