mixin bootswatch(theme)
	link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/" + theme + "/bootstrap.min.css", rel="stylesheet")

//- Navbar mixins
mixin nav(name, id, style)
	- var style = (typeof style === 'undefined') ? "default" : style
	nav( role="navigation", class=["navbar", "navbar-" + style] )
		.navbar-header
			button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#")= name
		.collapse.navbar-collapse( id=id )
			ul.nav.navbar-nav
				block

mixin nav_item(href, active)
	li(class=active): a( href=href )
		block

mixin nav_item_dropdown(href, active)
	li(class=["dropdown", active])
		a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu" )
			block

mixin nav_divider
	li.divider

mixin nav_header
	li.dropdown-header
		block

//- End navbar mixins

//- Panel mixin
mixin panel(heading, style)
	- var style = (typeof style === 'undefined') ? "default" : style
	div( class=["panel", "panel-" + style] )
		.panel-heading= heading
		.panel-body
			block

//- Button mixin
mixin button(style, href, size)
	- var style = (typeof style === 'undefined') ? "default" : style
	- var href = (typeof href === 'undefined') ? "#" : href
	case size
		when "large"
			- size = "btn-lg"
		when "small"
			- size = "btn-sm"
		when "mini"
			- size = "btn-xs"

	a( class=["btn", "btn-" + style, size], href=href )
		block

//- Alert mixin
mixin alert(style)
	div( class=["alert", "alert-dismissable", "alert-" + style] )
		button.close( type="button", data-dismiss="alert" ) ×
		block

//- List group mixins
- var groupType

mixin listGroup(type)
	- groupType = type
	case groupType
		when 'list'
			ul.list-group
				block
		default
			.list-group
				block

mixin listItem(arg1, arg2)
	case groupType
		when 'list'
			li( class=["list-group-item", arg1] )
				block
		when 'links'
			a( href=arg1, class=["list-group-item", arg2] )
				block
		default
			.list-group-item( class=["list-group-item", arg1] )
				block

mixin listHeading
	h4.list-group-item-heading
		block

mixin listText
	.list-group-item-text
		block