extends home
block content
	h1 Pedidos de los usuarios
	.col-xs-4
		form#formulario
			.form-group
				label(for="_id") ID
				input#_id.form-control(type="text",placeholder="ID del pedido")
			.form-group
				label(for="user") Usuario
				input#user.form-control(type="text",placeholder="Usuario del pedido")
			.form-group
				label(for="producto") Producto seleccionado
				input#producto.form-control(type="text",placeholder="Producto solicitado")
			.form-group
				label(for="total") Total
				input#total.form-control(type="number",placeholder="Total del pedido")
			button.btn.btn-default(type="submit") Guardar
	.col-xs-8
		table.table.table-striped.table-bordered.table-hover
			thead
				tr
					th ID
					th Usuario
					th Producto del pedido
					th Total
			tbody
block foot
	script( src='static/js/pedidos.js' )